body {
    background-color: #DCC9B6;
}
li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
    font-size: larger;
}
.nav-bar {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    background-image: linear-gradient(#6D4C3D, #A39171);
    padding: 5px;
    padding-right: 15px;
    margin: -1%;
    border-bottom: solid 5px #6D4C3D;
}

.text-block {

}
.side-text {
    font-size: xx-large;
}
#about-me-text {
    font-size: 30px;
    padding-left: 250px;
    padding-right: 500px;
}
#profile-picture {
    float: right;
    border-radius: 50%;
    width: 250px;
    margin-right: 200px;
}
.container {
}
.images {
    border: solid 5px #6D4C3D;
    background-color: #6D4C3D;
}

/*#pumpkin-king {
    position: absolute;
    left: 295px;
    bottom: 121px;
    width: 610px;
    height: 395px;
    border: solid 5px #6D4C3D;
    background-color: #6d4C3D;
}
#dancing-pumpkins{
    position: absolute;
    left: 605px;
    top: 1135px;
    width: 300px;
    height: 200px;
    border: solid 5px #6D4C3D;
    background-color: #6d4C3D;
}
#woodsman {
    position: absolute;
    bottom: -608px;
    left: 911px;
    width: 400px;
    height: 600px;
    border: solid 5px #6D4C3D;
    padding-bottom: 0.5px;
    background-color: #6d4c3d;
}
#carving-pumpkin{
    position: absolute;
    left: 303px;
    top: 1135px;
    width: 303px;
    height: 200px;
    border: 5px solid rgb(109, 76, 61);
    background-color: rgb(109, 76, 61);
}
#king-text{
    position: absolute;
    left: 300px;
    bottom: 10px;
    color: #DCC9B6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.637);
    padding-left: 20px;
    padding-right: 20px;
}
#dancing-block {
    position: absolute;
    left: 200px;
    top: 1px;
    color: #DCC9B6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.637);
    padding-left: 20px;
    padding-right: 20px;
}
#woodsman-block {
    position: absolute;
    color: #DCC9B6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.637);
    padding-left: 20px;
    padding-right: 20px;
}
#carving-block {
    position: absolute;
    color: #DCC9B6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.637);
    padding-left: 20px;
    padding-right: 20px;
}